
*~
cmake-build-debug/*
build/

cmake-build-release/

cmake-build-debug-coverage/

dist/

cmake-build-debug-coverage-1/

cmake-build-target/

CMakeUserPresets.json

cmake-build-relwithdebinfo/

conan_provider.cmake

cmake-build-debug-llvm/

cmake-build-relwithdebinfo-llvm/
